<footer>
  <div class="top">
    <div class="set">
      <h3>Connect with Us</h3>
      <a href="<%= websiteDetails.facebook %>" target="_blank">Facebook</a>
      <a href="<%= websiteDetails.twitter %>" target="_blank">Twitter</a>
      <a href="<%= websiteDetails.youtube %>" target="_blank">YouTube</a>
      <a href="<%= websiteDetails.whatsapp %>" target="_blank">Whatsapp</a>
    </div>
    <div class="set">
      <h3>Useful Links</h3>
      <a href="/facebook">About Us</a>
      <a href="/facebook">Contact Us</a>
      <a href="/facebook">Help</a>
    </div>
    <div class="set">
      <h3>Explore</h3>
      <a href="/home">Home</a>
      <a href="/orders">Your Orders</a>
      <a href="/facebook">Your Cart</a>
      <a href="/facebook">Your Account</a>
    </div>
  </div>
  <div class="middle">
    <div class="one">
      <p><i class="fas fa-envelope"></i>Mail us to:</p>
      <p>koshigo17@gmail.com</p>
    </div>
    <div class="pipe"></div>
    <div class="two">
      <p><i class="fas fa-phone"></i>Call us on:</p>
      <p>+91-95253-09677</p>
    </div>
  </div>
  <div class="bottom">
    <p class="left">&copy; Copyright 2021, Koshiog.com</p>
    <div class="right">
      <a href="<%= websiteDetails.facebook %>" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="<%= websiteDetails.twitter %>" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="<%= websiteDetails.youtube %>" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="<%= websiteDetails.whatsapp %>" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
    </div>
  </div>
</footer>
<script src="/js/autocomplete.js"></script>
</body>

</html>